.profile__edit-button {
    margin: 0;
    border: 0;

    grid-row: 1;
    grid-column: 3;
    width: 24px;
    height: 24px;

    border: 1px solid white;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
    background-image: url("../../../images/edit.svg");
    align-self: center;
}


@media screen and (max-width: 880px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        background-size: 7.5px 7.5px;
    }
}