.profile__info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto fit-content(28px);
    row-gap: 7px;
    column-gap: 18px;

    padding-top: 21px;
    margin-left: 30px;
    width: calc(100% - 360px);
}

@media screen and (max-width: 880px) {
    .profile__info {
        margin: 0;
        justify-items: center;
        grid-template-columns: fit-content(28px) auto fit-content(28px);
        gap: 0;
        padding-top: 18px;
        padding-bottom: 1px;
        width: 100%;
    }
}