.profile__name {
    margin: 0;
    grid-row: 1;
    grid-column: 1/2;
    width: calc(100% - 42px);

    line-height: 48px;
    font-size: 42px;
    font-weight: 500;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (max-width: 880px) {
    .profile__name {
        grid-column: 2;
        text-align: center;
        line-height: auto;
        font-size: 27px;
    }
}