.popup__form-field {
    margin: 0;
    padding-top: 30px;

    display: block;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
    height: 27px;
    width: 358px;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.popup__form-field:focus {
    outline: none;
}

@media screen and (max-width: 880px) {
    .popup__form-field{
        width: 100%;
    }
}