@import url("../vendor/normalize.css");

@import url("../vendor/fonts.css");

@import url("../blocks/button/button.css");

@import url('../blocks/page/page.css');

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");


@import url("../blocks/elements/elements.css");

@import url("../blocks/card/card.css");
@import url("../blocks/card/__picture/card__picture.css");
@import url("../blocks/card/__heading/card__heading.css");
@import url("../blocks/card/__details/card__details.css");
@import url("../blocks/card/__button/card__button.css");
@import url("../blocks/card/__button/_liked/card__button_liked.css");
@import url("../blocks/card/__delete-button/card__delete-button.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__sign/footer__sign.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__close-button/popup__close-button.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__form-field/popup__form-field.css");
@import url("../blocks/popup/__form-fieldset/popup__form-fieldset.css");
@import url("../blocks/popup/__form-submit/popup__form-submit.css");
@import url("../blocks/popup/__container/_pictured/popup__container_pictured.css");
@import url("../blocks/popup/__picture/popup__picture.css");
@import url("../blocks/popup/__picture-description/popup__picture-description.css");
